@import url("user.css");
@import url("style.css");
@import url("admin.css");
@import url("menu.css");
@import url("bootstrap.min.css");

@font-face {
	font-family: chalk;
	src: url('chalk.ttf');
}

html *
{
   font-family: chalk !important;
   color: white !important;
   background: #383838;
}

