.menu{
  width: 100%;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  display: block;
  overflow:hidden;
}
.user-block{
  background: none;
  float: right;
  margin:25px;
}
.logout-block{
  background: none;
  float: right;
  margin:25px;
}

.user-text{
  font-size: 18px;
  color:white;
}


.logout-text {
  text-align: center;
  color: white;
  font-size: 18px;

}

.logout-text:hover{
  font-weight: bold;
}

a:hover {
    text-decoration: none !important;
}