
p{
  font-size: 16px;
}
#scene {
  width:100%;
}
.input-controls{
  
  display:flex;
  justify-content: space-around;
  align-items:center;
  
}
.output-controls{
  margin-top: 25px;
  float: left;
  text-align: left;
  width: 100%;
  clear: left;
}
#show-word {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: .25px;
  border: none;
}

#input-error {
  margin-top: 10px;
}

#submit-btn{
  font-size: 16px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  background: none;
  color:white;
}
pre {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: .25px;
  border: none;
}
#submit-btn:hover{
  background: white;
  color: black !important;
}
#reset-btn{
  font-size: 16px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  background: none;
  color:white;
}
#reset-btn:hover{
  background: white;
  color: black !important;
}

#user-guess {
  border: 0;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 20px;
  text-align: center;
  width: 100px;
  margin: 0 10px 0 10px;
}
#guess-input{
  font-size: 16px;
}
#submit-btn {
  outline: none;
}

#win-lose {
  margin-bottom: 16px;
}




