p.image-background{
  background: none;
  /*background-image: url("../uploads/background.jpg"), url("../uploads/background.png");*/
}

p{
  font-size: 17px;
}
.input-controls{
  width: 80%;
  text-align: left;
  margin-left: auto;
  margin-right:auto;
}
#show-word {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: .25px;
}

#input-error {
  margin-top: 10px;
}

#user-guess {
  border: 0;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 16px;
  text-align: center;
  width: 100px;
  margin: 0 10px 0 10px;
}

#submit-btn {
  outline: none;
}

#win-lose {
  margin-bottom: 20px;
}

#scene {
  width:80%;
}