p.image-background{
  background: none;
  text-align: center;
  /*background-image: url("../uploads/background.jpg"), url("../uploads/background.png");*/
}

p{
  font-size: 20px;
}
.input-controls{
  width: 60%;
  text-align: left;
  margin-left: auto;
  margin-right:auto;
}
#show-word {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: .25px;
}

#input-error {
  margin-top: 10px;
}

#submit-btn{
  font-size: 20px;
  padding: 15px;
  border: 2px solid white;
  border-radius: 5px;
  background: none;
  color:white;
}
#submit-btn:hover{
  background: white;
  color: black !important;
}
#reset-btn{
  font-size: 20px;
  padding: 15px;
  border: 2px solid white;
  border-radius: 5px;
  background: none;
  color:white;
}
#reset-btn:hover{
  background: white;
  color: black !important;
}

#user-guess {
  border: 0;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 20px;
  text-align: center;
  width: 100px;
  margin: 0 10px 0 10px;
}
#guess-input{
  font-size: 20px;
}
#submit-btn {
  outline: none;
}

#win-lose {
  margin-bottom: 20px;
}

#scene {
  width:60%;
}


