.game{
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 40%;
  margin: 50px;
  background: none;
}
.leaderboard{
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin: 50px;
  background: none;
}

.leaders{
  width: 100%;
  height: auto;
  border: 3px solid white;
}

.leaders th{
    text-align: left;
    padding: 15px;
}
.leaders td{
    text-align: left;
    padding: 15px;
}

.leaders tr{
  line-height: 25px;
}
.leaders th {
    color: white;
}